#student-table {
    max-height: 400px;
    overflow: scroll;
}

th, tr {
    width: 33%;
}

.present {
    color: navy;
    font-style: italic;
    background-color: lightcyan;
}

.absent {
    color: black;
    font-weight: bold;
    background-color: tomato;
}

/* hides div while it's empty to speed up display for user */
[v-cloak] {
    display: none;
}
